:host {
  display: flex;
  justify-content: center;
}
.photos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  & .columns {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }
}
